// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;

// Fonts
$primary-font: "Roboto", sans-serif;

// Colors
$primary-color: #2e273d;
$secondary-color: #d786ff;
$black: #111;
$white: #ffffff;
$darkGray: #c9c9c9;
