<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoSeguro | Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__top-bar header__container">
        <h2 class="logo">
          <a href="index.html" class="logo__link">
            Auto<span class="logo__link--color">Seguro</span>
          </a>
        </h2>

        <nav class="nav">
          <a href="#" class="nav__link">Beneficios</a>
          <a href="#" class="nav__link">Cotizador</a>
          <a href="#" class="nav__link">Contacto</a>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="hero__grid hero__container">
        <div class="hero__text">
          <h1 class="hero__heading">
            Asegura y mantén tu
            <span class="hero__heading--color">auto</span> seguro
          </h1>

          <p class="hero__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            fugiat magni rem nostrum eius corrupti repudiandae possimus, minus
            deleniti, saepe, eveniet consequuntur blanditiis facere accusantium
            quasi nihil mollitia molestiae tempore!
          </p>

          <a href="#" class="hero__btn">Más información</a>
        </div>
        <picture class="hero__picture">
          <source srcset=".avif" type="image/avif" />
          <source srcset=".webp" type="image/webp" />
          <img
            class="hero__img"
            loading="lazy"
            width="500"
            height="300"
            src=""
            alt=""
          />
        </picture>
      </div>
    </section>
    <section class="benefits benefits__container">
      <h2 class="benefits__heading">
        ¿Por qué deberías tener un seguro de auto?
      </h2>
      <div class="benefits__grid">
        <div class="benefit-card">
          <span class="benefit-card__number">1</span>
          <h3 class="benefit-card__heading">Asistencia 24/7</h3>
          <p class="benefit-card__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius,
            recusandae?
          </p>
        </div>
        <div class="benefit-card">
          <span class="benefit-card__number">2</span>
          <h3 class="benefit-card__heading">Garantía de reparación</h3>
          <p class="benefit-card__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius,
            recusandae?
          </p>
        </div>
        <div class="benefit-card">
          <span class="benefit-card__number">3</span>
          <h3 class="benefit-card__heading">
            Recibir asesoramiento personalizado
          </h3>
          <p class="benefit-card__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius,
            recusandae?
          </p>
        </div>
        <div class="benefit-card">
          <span class="benefit-card__number">4</span>
          <h3 class="benefit-card__heading">Asegurar tu vehículo</h3>
          <p class="benefit-card__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius,
            recusandae?
          </p>
        </div>
      </div>
    </section>
    <section class="quotation quotation__container">
      <h2 class="quotation__heading">Cotiza tu seguro ahora</h2>

      <form class="quotation-form" action="#" id="quote-form">
        <fieldset class="quotation-form__fieldset">
          <div class="quotation-form__field">
            <label for="brand" class="quotation-form__label">
              Tipo de marca
            </label>
            <select class="quotation-form__select" id="brand">
              <option value="">Seleccionar</option>
              <option value="1">Americana</option>
              <option value="2">Asiatica</option>
              <option value="3">Europea</option>
            </select>
          </div>
          <div class="quotation-form__field">
            <label for="year" class="quotation-form__label">Año</label>
            <select class="quotation-form__select" id="year">
              <option value="">Seleccionar</option>
            </select>
          </div>
        </fieldset>
        <fieldset class="quotation-form__fieldset">
          <div class="quotation-form__field quotation-form__field--radio">
            <label for="basic" class="quotation-form__label">
              Seguro básico
            </label>
            <input
              class="quotation-form__input"
              type="radio"
              name="type"
              value="basic"
              id="basic"
              checked
            />
          </div>
          <div class="quotation-form__field quotation-form__field--radio">
            <label for="complete" class="quotation-form__label">
              Seguro completo
            </label>
            <input
              class="quotation-form__input"
              type="radio"
              name="type"
              value="complete"
              id="complete"
            />
          </div>
        </fieldset>
        <button type="submit" class="quotation-form__btn">
          Cotizar seguro
        </button>
      </form>

      <span id="loader" class="loader"></span>

      <div class="quotation__results" id="quotation-results">
      </div>
    </section>
    <footer class="footer">
      <p class="footer__copy">
        Todos los derechos reservados AutoSeguro &copy;
      </p>
    </footer>

    <script src="./js/main.js"></script>
  </body>
</html>
